[paths]
# source =
#    src/

[run]
branch = True
source =
    atomiclines

[report]
fail_under = 100
show_missing = True
omit = tests/*
include_namespace_packages = True
exclude_also =
    # defensive assertions
    raise NotImplementedError